In [1]:
import pandas as pd
import numpy as np
import os
import re
import datetime
import time

import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly import tools
init_notebook_mode(connected=True)

import matplotlib.pyplot as plt
%matplotlib inline

import progressbar

import seaborn as sns

In [14]:
time_zone_interval = 12

In [3]:
#read in files' names
path = '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/'  #please use relative path for team's convience
file_names = list()
for path, subdirs, files in os.walk(path):  #read root and subfolder recursively
    for filename in files:
        if re.search(pattern=r'csv', string=filename):  #store only csv
            # contain both path and file name eg)  './Data/Weather/nyc_weahter.csv
            file_names.append(os.path.join(path, filename))
        else:
            continue
            
file_names

['/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-01.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-02.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-03.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-04.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-05.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-06.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-07.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-08.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-09.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-10.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-11.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-12.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-01.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-02.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-03.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-04.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-05.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-06.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-07.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-08.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-09.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-10.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-11.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-12.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_green.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-01.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-02.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-04.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-05.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-06.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-07.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-08.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-09.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-10.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-11.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/yellow_tripdata_2018-12.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/Dow_Jones/DJIA.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/FED_fund_rate/DFF.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/FED_fund_rate/FED Fund Rate.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/S_P500/GSPC.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/Weather/nyc_weather.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/WTI_oil_price/DCOILWTICO.csv']

In [4]:
#### No need to rerun  ####
## Sampling the data to 1/12 of size
sample_frac = 1
beg_time = time.time()
yellow_csv = []
green_csv = []
fhv_csv = []
additional_features_file_names = []
count = 0
total = len(file_names)
bar = progressbar.ProgressBar(max_value=total)

for file_name in file_names:
    count = count + 1
    bar.update(count)# print out the progress and running time
    
    if re.search(pattern=r'yellow', string=file_name):
        df = pd.read_csv(file_name)
        df=df.sample(frac=sample_frac, random_state=1)
        yellow_csv.append(df)
    else:
        time.sleep(0.0001)
        #not yet loaded into dataframe need to merge manually
        additional_features_file_names.append(file_name)
        
        
additional_features_file_names

 88% (37 of 42) |#####################   | Elapsed Time: 0:05:53 ETA:   0:03:09

['/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-01.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-02.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-03.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-04.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-05.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-06.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-07.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-08.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-09.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-10.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-11.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/fhv_tripdata_2018-12.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-01.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-02.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-03.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-04.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-05.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-06.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-07.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-08.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-09.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-10.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-11.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/green_tripdata_2018-12.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/Dow_Jones/DJIA.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/FED_fund_rate/DFF.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/FED_fund_rate/FED Fund Rate.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/S_P500/GSPC.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/Weather/nyc_weather.csv',
 '/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/WTI_oil_price/DCOILWTICO.csv']

In [5]:
## concat the monthly data into one file for each vehicle type
df_yellow = pd.concat(yellow_csv, axis=0)

# add a column of vehicle_type to each df 
df_yellow['vehicle_type'] = 'yellow'

## save above process to a single csv for green and yellow data
df_yellow.to_csv('yellow.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [42]:
df_yellow.to_csv('/Volumes/Mac/School/Graduate-Columbia/Business_Analytics_IEOR4650/Project/Data/full_yellow.csv')

In [10]:
yellow = df_yellow
yellow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97631424 entries, 3465173 to 4322341
Data columns (total 19 columns):
DOLocationID             int64
PULocationID             int64
RatecodeID               int64
Unnamed: 0               float64
VendorID                 int64
extra                    float64
fare_amount              float64
improvement_surcharge    float64
mta_tax                  float64
passenger_count          int64
payment_type             int64
store_and_fwd_flag       object
tip_amount               float64
tolls_amount             float64
total_amount             float64
tpep_dropoff_datetime    object
tpep_pickup_datetime     object
trip_distance            float64
vehicle_type             object
dtypes: float64(9), int64(6), object(4)
memory usage: 14.5+ GB

In [12]:
yellow = df_yellow[['DOLocationID',
                    'PULocationID',
                    'tpep_dropoff_datetime',
                   'tpep_pickup_datetime']]
yellow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97631424 entries, 3465173 to 4322341
Data columns (total 4 columns):
DOLocationID             int64
PULocationID             int64
tpep_dropoff_datetime    object
tpep_pickup_datetime     object
dtypes: int64(2), object(2)
memory usage: 3.6+ GB

In [28]:
# create timezone with interval 15min
yellow['Time_Diff'] = pd.to_datetime(yellow['tpep_dropoff_datetime']) - pd.to_datetime(yellow['tpep_pickup_datetime'])
yellow.shape
yellow['Time_Diff'].mean()
yellow['dropoff_datetime'] = yellow['tpep_dropoff_datetime'].str[11:13].astype(float) * 60 + yellow['tpep_dropoff_datetime'].str[14:16].astype(float) + yellow['tpep_dropoff_datetime'].str[17:19].astype(float) / 60
yellow['pickup_datetime'] = yellow['tpep_pickup_datetime'].str[11:13].astype(float) * 60 + yellow['tpep_pickup_datetime'].str[14:16].astype(float) + yellow['tpep_pickup_datetime'].str[17:19].astype(float) / 60
yellow['dropoff_timezone'] = (yellow['dropoff_datetime'] //time_zone_interval)
yellow['pickup_timezone'] = (yellow['pickup_datetime'] // time_zone_interval)

## clean mistakes
yellow['pickup_date'] = pd.to_datetime(yellow['tpep_pickup_datetime']).dt.date
yellow['dropoff_date'] = pd.to_datetime(yellow['tpep_dropoff_datetime']).dt.date
yellow = yellow[yellow['pickup_date']==yellow['dropoff_date']]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
yellow_new = yellow[['PULocationID','DOLocationID','Time_Diff',]]
yellow_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92352234 entries, 4463675 to 4322341
Data columns (total 3 columns):
PULocationID    int64
DOLocationID    int64
Time_Diff       timedelta64[ns]
dtypes: int64(2), timedelta64[ns](1)
memory usage: 2.8 GB

In [35]:
%%time
td = yellow_new[['PULocationID','DOLocationID','Time_Diff']]
td['Time_Diff_Min'] = td['Time_Diff'] / np.timedelta64(1,'m')
td2 = td.groupby(['PULocationID','DOLocationID']).mean()

index = list(range(266))
columns = list(range(266))
zone_distance_matrix = pd.DataFrame(index=index, columns=columns)

for ind in td2.index:
    PU_id = ind[0]
    DO_id = ind[1]
    zone_distance_matrix.loc[PU_id,DO_id] = td2.loc[PU_id,DO_id][0]

CPU times: user 2min 4s, sys: 12.4 s, total: 2min 17s
Wall time: 2min 19s

In [36]:
zone_distance_matrix

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0.736837,NaN,NaN,22.5417,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.8667,NaN,NaN,0.212048,22.0425
2,NaN,189.467,8.67381,NaN,NaN,NaN,NaN,39.5333,NaN,29.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.5333,NaN,9.61667
3,NaN,NaN,NaN,5.11791,39.3667,NaN,NaN,41.9218,NaN,NaN,...,NaN,NaN,NaN,15.9773,NaN,NaN,NaN,NaN,NaN,16.5437
4,NaN,43.6141,NaN,36.8767,4.23341,38.4667,36.215,24.5779,27.7167,25.9333,...,14.067,24.2884,40.4744,33.5722,25.2034,13.9331,17.3754,18.1467,4.66232,37.8282
5,NaN,NaN,NaN,NaN,NaN,1.77677,25.9333,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,15.2667
6,NaN,31.25,NaN,NaN,6.71667,NaN,1.49455,NaN,NaN,NaN,...,NaN,20.8,NaN,NaN,NaN,29.3167,NaN,NaN,NaN,54.5167
7,NaN,49.0508,58.8667,33.0278,22.8655,59.8,27.45,4.85029,8.11711,26.8894,...,21.174,33.2053,28.5677,31.3115,9.24898,32.0841,19.0024,17.8838,4.75859,38.4565
8,NaN,67.5233,NaN,NaN,NaN,NaN,NaN,8.42679,10.4616,NaN,...,NaN,NaN,NaN,NaN,14.3407,NaN,14.0474,12.3192,0,40.7388
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.1233,NaN,3.43746,...,NaN,47.5417,30.2369,NaN,22.8292,NaN,31.0833,NaN,8.66667,30.7074
10,NaN,72.5792,10.5167,54.49,45.0106,NaN,58.7333,29.7908,28.625,28.5222,...,39.8475,38.2458,17.8906,39.8333,27.5493,53.9966,39.3352,41.0367,13.7001,65.8422
11,NaN,28.7267,NaN,NaN,NaN,NaN,NaN,72.5833,NaN,51.8,...,NaN,20.35,NaN,NaN,45.625,29.0854,56.8167,NaN,0,41.2208
12,NaN,49.7888,NaN,65.4667,13.4409,36.5167,18.5833,35.197,32.3,56.475,...,22.5296,18.0328,NaN,65.6833,30.8141,6.31003,25.1672,25.5289,7.57837,46.696
13,NaN,38.1531,NaN,45.6954,12.53,41.2083,24.9276,32.0699,27.8167,46.143,...,22.6705,16.2674,44.0588,42.55,31.0887,7.01812,24.6355,25.0938,9.14333,33.9769
14,NaN,29.1449,NaN,NaN,21.2944,30.9571,3.21923,52.5214,NaN,NaN,...,31.2917,16.144,53.1833,76.9167,54.81,24.4318,65.1306,40.1262,0.542857,46.6247
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.9333,NaN,11.9492,...,NaN,NaN,36.6917,NaN,23.2,NaN,27.9667,NaN,0,41.2983
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.7253,NaN,9.50833,...,NaN,171.983,31.2,36.7333,26.1381,42.0583,NaN,NaN,0,26.8202
17,NaN,55.0241,NaN,50.5312,19.1388,NaN,NaN,23.7465,NaN,29.9444,...,7.41413,17.7411,32.3458,65.1958,20.6538,20.3489,29.5333,33.2167,3.50482,47.9463
18,NaN,51.15,NaN,15.1278,34.3833,NaN,NaN,30.1083,NaN,NaN,...,NaN,58.6167,NaN,21.6453,46.7917,NaN,19.6833,31.92,5.89333,30.3397
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.5361,NaN,8.54167,...,NaN,NaN,NaN,32.4,33.4633,NaN,NaN,NaN,0,13.277
20,NaN,NaN,NaN,12.4583,28.3083,NaN,42.1167,24.5625,NaN,NaN,...,44.725,NaN,NaN,15.3375,NaN,NaN,28.1,39.3214,53.1667,28.6115
21,NaN,NaN,NaN,NaN,55.3167,33.9167,22.8333,NaN,NaN,48.75,...,NaN,28.0792,39.625,NaN,50.1167,27.7083,68.0833,49.8933,1.525,31.5806
22,NaN,33.1333,NaN,NaN,43.1722,NaN,25.225,32.5333,NaN,NaN,...,28.2889,23.1417,NaN,NaN,48.8167,36.6466,66.5136,67.9063,9.23125,46.1
23,NaN,14.5083,NaN,NaN,NaN,NaN,15.2875,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23.5,NaN,1.33333,43.469
24,NaN,44.6993,NaN,45.0667,28.7738,NaN,NaN,27.2957,NaN,38.45,...,36.7045,43.5333,44.6375,23.1542,28.2078,33.6131,18.3776,14.6262,5.40247,35.5917
25,NaN,44.6056,NaN,53,15.7337,NaN,27.55,28.8064,22.5,57.3667,...,16.9034,14.3296,50.1597,55.4167,19.051,13.8234,26.8247,24.5413,7.23563,44.2423
26,NaN,55.4958,45.45,103.717,30.4278,NaN,24.5,28.8333,NaN,54.5611,...,38.1153,13.5858,55.1778,NaN,37.5667,27.8556,52.775,47.3444,1.6873,73.5861
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.4667,NaN,9.25,NaN
28,NaN,72.3983,NaN,NaN,34.9922,NaN,NaN,27.1993,NaN,16.6167,...,28.3,48.85,19.166,45.8667,20.4201,53.9308,26.5176,26.8978,6.14598,46.6508
29,NaN,NaN,NaN,NaN,40.9833,NaN,NaN,NaN,NaN,NaN,...,80.65,16.8917,NaN,NaN,NaN,45.8,65.8389,48.3167,0,22.6189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,NaN,50.5484,99.4333,31.7402,20.0236,76.5,47.6986,22.6436,24.0774,42.5014,...,30.3313,37.062,55.7282,32.6183,26.131,27.8082,6.72945,5.05651,6.24399,40.5643
237,NaN,50.766,10.0667,36.2215,19.8457,90.9417,43.6548,17.2255,19.9611,49.1716,...,29.8629,38.075,44.4805,32.0892,21.4602,26.9548,9.22557,6.61008,6.18668,42.4828
238,NaN,42.9562,NaN,38.3709,26.6449,64.6167,67.0333,27.5641,33.0056,39.6481,...,38.3383,40.1335,67.8141,28.0544,30.7905,31.4451,14.4192,11.6923,6.55659,32.9903
239,NaN,41.3352,NaN,29.5872,25.8473,49.8,50.1375,25.7255,30.5905,45.6352,...,35.1256,39.3298,50.1069,29.6413,28.6959,29.472,13.7452,11.926,4.87325,39.9619
240,NaN,NaN,NaN,13.35,30.45,NaN,NaN,25.35,NaN,NaN,...,NaN,NaN,NaN,13.2646,35.2833,NaN,39.6333,24.2667,7.97917,18.7403
241,NaN,NaN,NaN,18.4881,NaN,NaN,NaN,41.8778,NaN,NaN,...,NaN,NaN,81.4167,18.1056,29.7733,47.9222,35.3333,38.1146,0.0444444,24.0425
242,NaN,NaN,NaN,12.2524,68.8417,NaN,NaN,31.7667,19.7833,23.6667,...,NaN,59.15,44.8889,23.14,34.1864,72.6583,40.6,24.8042,28.7188,24.4
243,NaN,32.4426,55.2833,22.1364,33.3333,NaN,NaN,26.5689,NaN,NaN,...,40.6167,54.0833,NaN,23.3379,29.3405,45.4249,24.458,21.7945,5.29459,26.5699
244,NaN,38.576,NaN,29.8761,35.0095,76.45,41.1333,27.2055,22.4167,24.9833,...,43.6046,40.475,41.26,23.2935,29.4679,34.7714,25.5984,24.6786,6.87097,21.6323
245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.2333,NaN,NaN,...,NaN,NaN,38.7333,78.5,NaN,42.25,NaN,NaN,0,NaN
246,NaN,34.9869,NaN,39.5682,21.091,61.8833,38.737,28.1459,26.6333,43.3083,...,30.7821,28.2563,41.1463,57.068,30.4746,18.8197,24.7318,22.8411,6.01918,27.0485
247,NaN,37.6917,55.2833,20.6231,32.0435,NaN,NaN,22.3887,NaN,NaN,...,45.0222,61.45,32.8429,23.3307,18.6852,40.6679,23.0389,20.8195,9.72937,31.4432
248,NaN,NaN,NaN,15.0125,58.4333,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2167,27.2667,NaN,42.7167,33.7833,0.0555556,25.3063
249,NaN,35.6103,33.0167,45.9319,13.7499,49.131,34.6156,27.9872,28.7478,41.9118,...,21.7719,24.9536,42.5214,38.3196,28.3305,12.7383,25.5581,24.1586,5.82323,27.7076
250,NaN,53.8667,NaN,12.3264,37.2583,NaN,NaN,18.4333,NaN,29.7167,...,NaN,NaN,29.35,20.3121,23.5056,71.45,29.425,42.5083,0,31.8583
251,NaN,NaN,NaN,NaN,NaN,17.4667,8.18333,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.6667,55.3458
252,NaN,45.8,NaN,NaN,36.2778,NaN,NaN,21.35,NaN,21.6917,...,NaN,42.2944,31.9367,NaN,20.86,NaN,NaN,34.9833,0,34.544
253,NaN,NaN,NaN,43.0833,NaN,NaN,NaN,16.9367,NaN,17.475,...,26.4167,NaN,NaN,NaN,8.71667,NaN,22,NaN,0,40.275
254,NaN,NaN,NaN,9.30517,38.2548,NaN,NaN,45.7241,NaN,NaN,...,NaN,NaN,NaN,7.52519,40.8889,61.5583,34.2833,44.8119,3.05952,14.7815
255,NaN,58.0097,NaN,NaN,14.5869,40.3417,NaN,19.4182,19.25,24.61,...,5.44325,18.8535,29.2583,36.9278,17.795,21.3563,25.216,24.5144,4.31165,40.2613
256,NaN,63.203,NaN,NaN,11.926,37.3833,25.05,20.7152,20.6833,NaN,...,5.10159,20.0443,27.8571,33.95,17.2323,18.8555,23.0721,24.3275,4.22039,43.2724
257,NaN,39.87,12.95,NaN,21.95,NaN,24.1083,33.9167,NaN,48.1083,...,18.5024,4.90932,43.4833,57.1167,28.9333,18.4079,60.4583,61.2792,2.94583,121.142
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.8013,NaN,25.9615,...,NaN,NaN,5.45853,NaN,20.7889,NaN,NaN,40.6833,0.444444,38.8214
259,NaN,NaN,NaN,14.2439,NaN,NaN,NaN,54.3083,NaN,NaN,...,NaN,NaN,NaN,2.04912,34.45,NaN,42.6367,41.1611,8.47778,14.9447
260,NaN,59.3802,75.2333,28.8833,21.958,NaN,NaN,9.11507,18.3267,21.9411,...,18.2738,29.0689,23.5077,30.0111,5.19733,28.3819,20.5711,21.0997,2.94625,51.7624
261,NaN,39.6006,NaN,47.6389,13.7324,41.3853,24.7823,30.9624,22,46.7273,...,21.4171,18.2242,43.1819,46.2462,31.129,5.08123,25.0149,24.7645,8.2769,35.5305
262,NaN,51.7606,7.15,24.9611,14.1381,57.0667,28.2333,20.8646,70.3583,30.2889,...,23.8839,30.2002,36.0155,26.9736,23.9624,21.3237,3.91514,4.19687,7.68258,41.2163
263,NaN,51.8202,4.15,32.0298,16.3552,46.4417,41.8667,18.7359,20.5049,32.276,...,26.4284,33.7389,38.3662,29.27,20.8426,22.8108,4.43154,3.77279,6.34387,37.5924
264,NaN,10.996,11.6333,13.2958,9.7385,58.0833,8.64333,8.43906,2.39167,22.7342,...,15.3588,21.512,15.8894,7.65732,10.2401,13.4887,10.2799,8.92387,13.8103,2.89224
265,NaN,15.0623,22.7048,16.6667,23.6572,44.9667,51.9167,29.3411,NaN,49.25,...,41.9983,45.3524,38.4583,24.4192,26.931,25.154,21.1889,13.753,2.14708,3.36044

In [37]:
sum(len(zone_distance_matrix) - zone_distance_matrix.count())

22808

In [38]:
zone_distance_matrix.to_csv('./Data/zone_distance_matrix.csv')

In [39]:
zone_distance_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Columns: 266 entries, 0 to 265
dtypes: object(266)
memory usage: 564.9+ KB

In [1]:
## loading the distance matrix(compute from the full_yellow.csv)
M = 1000000000000 # large number
zone_dis = zone_distance_matrix
zone_dis = zone_dis.fillna(M)
arr_zone_dis = np.array(zone_dis)
zone_dis_M = np.where(arr_zone_dis==M ,arr_zone_dis.T,arr_zone_dis)
# zone_dis_M = np.where(zone_dis_M==M ,np.nan ,zone_dis_M)

NameError: name 'zone_distance_matrix' is not defined

In [ ]:
# create graph and prepare to fill the nan
G=nx.Graph()
rows = zone_dis_M.shape[0]
cols = zone_dis_M.shape[1]
for i in range(rows):
    for j in range(cols):
        G.add_edge(i,j, weight=zone_dis_M[i,j])

In [ ]:
%%time
## complete the incomplete distance matrix by triangle inequality
bar = progressbar.ProgressBar(max_value=rows-1)

for i in range(rows):
    bar.update(i)# print out the progress and running time

    for j in range(cols):
        if zone_dis_M[i,j] == M:
            shortest_distance = nx.dijkstra_path_length(G,i,j)
            if shortest_distance < M:
                zone_dis_M[i,j] = shortest_distance

In [ ]:
## Saving 
# zone_dis_M = zone_dis_M[1:,1:]
zone_dis_M = np.where(zone_dis_M==M ,np.nan ,zone_dis_M)
pd.DataFrame(zone_dis_M).to_csv('./Data/full_zone_distance_matrix.csv')